<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ema.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ema.pojo.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="nick_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="openid" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="avatar_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="followers" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="followings" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="attentions" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="comments" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="collections" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="views" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, nick_name, password, phone, email, openid, avatar_url, gender, followers, followings, 
    attentions, comments, collections, views, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ema.pojo.User" >
    insert into user (id, nick_name, password, 
      phone, email, openid, avatar_url, 
      gender, followers, followings, 
      attentions, comments, collections, 
      views, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, #{openid,jdbcType=CHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{followers,jdbcType=INTEGER}, #{followings,jdbcType=INTEGER}, 
      #{attentions,jdbcType=INTEGER}, #{comments,jdbcType=INTEGER}, #{collections,jdbcType=INTEGER}, 
      #{views,jdbcType=INTEGER}, now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ema.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="avatarUrl != null" >
        avatar_url,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="followers != null" >
        followers,
      </if>
      <if test="followings != null" >
        followings,
      </if>
      <if test="attentions != null" >
        attentions,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="collections != null" >
        collections,
      </if>
      <if test="views != null" >
        views,
      </if>
      create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=CHAR},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="followers != null" >
        #{followers,jdbcType=INTEGER},
      </if>
      <if test="followings != null" >
        #{followings,jdbcType=INTEGER},
      </if>
      <if test="attentions != null" >
        #{attentions,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=INTEGER},
      </if>
      <if test="collections != null" >
        #{collections,jdbcType=INTEGER},
      </if>
      <if test="views != null" >
        #{views,jdbcType=INTEGER},
      </if>
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ema.pojo.User" >
    update user
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=CHAR},
      </if>
      <if test="avatarUrl != null" >
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="followers != null" >
        followers = #{followers,jdbcType=INTEGER},
      </if>
      <if test="followings != null" >
        followings = #{followings,jdbcType=INTEGER},
      </if>
      <if test="attentions != null" >
        attentions = #{attentions,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=INTEGER},
      </if>
      <if test="collections != null" >
        collections = #{collections,jdbcType=INTEGER},
      </if>
      <if test="views != null" >
        views = #{views,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ema.pojo.User" >
    update user
    set nick_name = #{nickName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=CHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      followers = #{followers,jdbcType=INTEGER},
      followings = #{followings,jdbcType=INTEGER},
      attentions = #{attentions,jdbcType=INTEGER},
      comments = #{comments,jdbcType=INTEGER},
      collections = #{collections,jdbcType=INTEGER},
      views = #{views,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByOpenid" parameterType="string" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM user
    WHERE openid=#{openid}
  </select>

  <select id="selectOpenidById" parameterType="int" resultType="string">
    SELECT
    openid
    FROM user
    WHERE id = {#id}
  </select>

  <select id="selectUserCountByOpenid" parameterType="string" resultType="int">
    SELECT
    COUNT(1)
    FROM user
    WHERE openid=#{openid}
  </select>

  <update id="updateByIdIncrFollowers" parameterType="integer" >
    UPDATE
    FROM user
    SET followers = followers + 1
    WHERE id = #{id}
  </update>

  <update id="updateByIdIncrFollowings" parameterType="integer" >
    UPDATE
    FROM user
    SET followings = followings + 1
    WHERE id = #{id}
  </update>

  <update id="updateByIdDecrFollowers" parameterType="integer" >
    UPDATE
    FROM user
    SET followers = followers - 1
    WHERE id = #{id}
  </update>

  <update id="updateByIdDecrFollowings" parameterType="integer" >
    UPDATE
    FROM user
    SET followings = followings - 1
    WHERE id = #{id}
  </update>

  <select id="selectCountById" parameterType="integer" resultType="int" >
    SELECT
    COUNT(1)
    FROM user
    WHERE id = #{id}
  </select>

  <select id="selectByParScndCommentId" parameterType="integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user
    WHERE id = (
      SELECT
      user_id
      FROM incident_scnd_comment
      WHERE id = #{parScndCommentId}
      LIMIT 1
    )
  </select>

</mapper>