<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ema.dao.UserFollowMapper" >
  <resultMap id="BaseResultMap" type="com.ema.pojo.UserFollow" >
    <constructor >
      <arg column="followeder_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="follower_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.ema.pojo.UserFollow" >
    insert into user_follow (followeder_id, follower_id)
    values (#{followederId,jdbcType=INTEGER}, #{followerId,jdbcType=INTEGER})
  </insert>

  <select id="selectCountByFollowederIdAndFollowerId" parameterType="com.ema.pojo.UserFollow" resultType="int">
    SELECT
    COUNT(1)
    FROM user_follow
    WHERE followeder_id = #{followederId}
    AND follower_id = #{followerId}
  </select>

  <delete id="deleteByFollowederIdAndFollowerId" parameterType="com.ema.pojo.UserFollow" >
    DELETE
    FROM user_follow
    WHERE followeder_id = #{followederId}
    AND follower_id = #{followerId}
  </delete>
</mapper>